@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Playwrite+CU+Guides&display=swap');

body {
  margin: 0;
  font-family: Georgia, "Times New Roman", serif;
  background-color: #f7c67e;
  color: #333;
}

.container {
  width: 700px;
  margin: 40px auto;
}

.logo {
  text-align: center;
  margin-bottom: 10px;
}

.logo img {
  width: 170px;
}

h1 {
  text-align: center;
  font-size: 32px;
  font-family: "Gravitas One", serif;
  letter-spacing: 2px;
  margin: 10px 0;
}

hr {
  border: none;
  height: 2px;
  background-color: #7aa6b1;
  margin: 10px 0 25px 0;
}

section {
  margin-bottom: 20px;
}

h2 {
  color: #c76b2c;
  font-size: 18px;
  margin-bottom: 5px;
}

p {
  font-size: 15px;
  line-height: 1.6;
}
